@import url('https://fonts.googleapis.com/css?family=Bad+Script|Open+Sans');


header {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(215, 230, 250);
  padding-top: 10px;
  font-size: 24px;
  text-align: center;
}

#container {
  max-width: 960px;
  margin: 0 auto;
}

h1, h2 {font-family: 'Bad Script', cursive;
}
a {
  color: purple;
}

a:visited {
  color: rgb (102, 210, 182);
}

a:hover {
  color: rgb(102, 130, 210);
}

a:active {
    color: gray;
}
p, ul {
font-family: 'Open Sans', sans-serif;
}

.left-container section {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(250, 235, 215);
  width: 264px;
  float: left;
  margin: 15px;
  margin-top: 30px;
  height: 407px;
  padding: 10px;
}

.bottom-row section {
  height: 327px;
  background-color: rgb(215, 250, 235);
}

.row {
  clear: both;
}
