@import url('https://fonts.googleapis.com/css?family=Bad+Script|Open+Sans');



header {
  border-width: 10px;
  border-color: rgb(25,25,25);
  border: solid;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 25px;
}

h1 {
  margin: 0;
}

.border {
  border-width: 10px;
  border-color: rgb(25,25,25);
  border: solid;
  border-radius: 10px;
  text-align: center;
}

header, h1, h2, h3, h4 {
    font-family: 'Bad Script', sans-serif;
    color: rgb(25,25,25);
}

#container {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

body {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: rgb(25,25,25);
}


.top-row section {
  border-width: 10px;
  border-color: rgb(25,25,25);
  border: solid;
  width: 420px;
  float: left;
  margin-right: 65px;
  margin-top: 30px;
  height: auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.bottom-row section {
  height: auto;
  border-width: 10px;
  border-color: rgb(25,25,25);
  border: solid;
  width: 420px;
  float: left;
  margin-right: 65px;
  margin-top: 30px;
  height: auto;
  padding: 10px;
  float:left;
  text-align: center;
  border-radius: 10px;
}

.no-margin section {
  margin-right: 0;
}

.bottom-row section img {
  width: 100%;
  border-radius: 10px;
}

#row {
  clear: both;
}

#about-section {
  width: 600px;
  float: left;
}

h2 {
  margin-top: 0;
}

aside {
  width: 300px;
  float: right;
}

aside img {
  width: 100%;
  border-radius: 10px;
  margin-top:100px;
}

#main_nav a {
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin: 10px;
}

nav {
  margin-bottom: 35px;
  text-align: center;
}

.teacher-section {
  float: left;
  width:480px;
}

#paper-img img {
  width: 960px;
  border-radius: 10px;
}

#journal-img img {
  width: 960px;
  border-radius: 10px;
  margin-top: 50px;
}

.contact {
  width: 275px;
  float: left;
  margin-top: 20px;
  margin-right: 27px;
  text-align: center;
  padding: 10px;
}
.contact img {
  width: 100%;
  border-radius: 10px;
}

a:link {
  color: rgb(25,25,25);
}

a:visited{
  color: rgb(142,168,144);
}

a:hover {
  color: rgb(146,132,113);
}

a:active {
  color: rgb(178,168,155);
}


#last-contact {
  margin-right: 0;
}
